---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
      <div class="hero">
        <h1>Blog</h1>
        <p class="subtitle">Welcome to my corner of the internet.</p>
      </div>

      <ul class="post-list">
        {
          posts.map((post) => (
            <li class="post-item">
              <a href={`/blog/${post.slug}/`} class="post-link">
                {/* {post.data.heroImage && <img width={720} height={360} src={post.data.heroImage} alt="" class="hero-image" />} */}
                <div class="details">
                  <p class="date">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                  <h2 class="title">{post.data.title}</h2>
                  <p>{post.data.description}</p>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
		</main>
		<Footer />
	</body>
</html>

<style>
  .hero {
    margin-top: 1rem;
  }

  .post-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    margin-top: 6rem;
    padding: 0;
    list-style: none;
  }

  .post-link {
    display: flex;
    align-items: start;
    gap: 1rem;
    border: 1px solid #ddd;
    padding: 1.5rem;
    color: black;
    text-decoration: none;
  }

  .post-link:hover {
    background: #eee;
  }

  .hero-image {
    width: 33%;
  }

  .details {
    flex: 1;
  }

  .title {
    font-size: 1.5rem;
  }

  .date {
    margin-top: 0;
    color: var(--body-subtle);
    font-size: 1rem;
  }

  .subtitle {
    margin-top: 0;
  }
</style>