---
import type { CollectionEntry } from 'astro:content';
import Header from '../components/Header.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Layout from './Layout.astro';

type Props = {
  readTime: string;
} & CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, readTime } = Astro.props;
---

<Layout title={title} description={description}>
  <style>
    .hero-image {
      width: 100%;
    }
    .hero-image img {
      display: block;
      margin: 0 auto;
      border-radius: 12px;
      box-shadow: var(--box-shadow);
    }
    .title {
      margin-bottom: 2rem;
      padding: 1rem 0;
      border-bottom: 1px solid #ddd;
    }
    .date {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.5em;
      color: var(--body-subtle);
    }
    .last-updated-on {
      font-style: italic;
    }
    .read-time {
      margin: 0;
    }
  </style>

  <main>
    <article>
      <div class="title">
        <h1>{title}</h1>
        <div class="date">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
          <p class="read-time">{readTime}</p>
        </div>
      </div>
      <slot />
    </article>
  </main>
</Layout>
